<main>
    <section id="tabsIntroduce">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 info">
                    <h1>
                        Tabs
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section data-aos="fade-up"
             data-aos-duration="1000" id="Tabs">
        <div class="container">
            <div class="row top-tabs">
                <div class="col-lg-6 col-md-6 col-12 topLeftTab">
                    <div class="row titles">
                        <div class="col-lg-3 title" data-id="first">
                            <button type="button">Services</button>

                        </div>
                        <div class="col-lg-3 title" data-id="sec">
                            <button style="border-right: none;border-left: none;" type="button">Shop</button>
                        </div>
                        <div class="col-lg-3 title" data-id="third">
                            <button type="button">Button</button>
                        </div>
                    </div>
                    <div class="row articles">
                        <div class="col-lg-6 article first">
                            <span>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                                pretium quis, sem. Nulla consequat massa. Aenean imperdiet. Etiam ultricies nisi vel
                                augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                            </span>
                        </div>
                        <div class="col-lg-6 article sec ">
                            <span>
                                Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                                nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies
                                nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                                Maecenas tempus, tellus eget condimentum rhoncus. Curabitur ullamcorper ultricies
                                nisi. Nam eget dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                                arcu. In enim justo, rhoncus ut.
                            </span>
                        </div>
                        <div class="col-lg-6 article third">
                            <span>
                                Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
                                nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus,
                                sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
                                blandit vel, luctus pulvinar. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                                viverra quis, feugiat a.

                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 topRightTab">
                    <div class="row titles">
                        <div class="col-lg-3 title" data-id="first">
                            <button type="button">Services</button>

                        </div>
                        <div class="col-lg-3 title" data-id="sec">
                            <button style="border-right: none;border-left: none;" type="button">Shop</button>
                        </div>
                        <div class="col-lg-3 title" data-id="third">
                            <button type="button">Button</button>
                        </div>
                    </div>
                    <div class="row articles">
                        <div class="col-lg-6 article first">
                            <span>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                                pretium quis, sem. Nulla consequat massa. Aenean imperdiet. Etiam ultricies nisi vel
                                augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                            </span>
                        </div>
                        <div class="col-lg-6 article sec ">
                            <span>
                                Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                                nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies
                                nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                                Maecenas tempus, tellus eget condimentum rhoncus. Curabitur ullamcorper ultricies
                                nisi. Nam eget dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                                arcu. In enim justo, rhoncus ut.
                            </span>
                        </div>
                        <div class="col-lg-6 article third">
                            <span>
                                Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
                                nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus,
                                sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
                                blandit vel, luctus pulvinar. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                                viverra quis, feugiat a.

                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mid-tabs">
                <div class="col-lg-12 midTab">
                    <div class="row titles">
                        <div class="col-lg-1 title" data-id="first">
                            <button type="button">Services</button>

                        </div>
                        <div class="col-lg-1 title" data-id="sec">
                            <button type="button">Shop</button>
                        </div>
                        <div class="col-lg-1 title" data-id="third">
                            <button type="button">Button</button>
                        </div>
                    </div>
                    <div class="row articles">
                        <div class="col-lg-12 article first">
                            <span>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                                pretium quis, sem. Nulla consequat massa. Aenean imperdiet. Etiam ultricies nisi vel
                                augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                            </span>
                        </div>
                        <div class="col-lg-12 article sec ">
                            <span>
                                Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                                nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies
                                nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                                Maecenas tempus, tellus eget condimentum rhoncus. Curabitur ullamcorper ultricies
                                nisi. Nam eget dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                                arcu. In enim justo, rhoncus ut.
                            </span>
                        </div>
                        <div class="col-lg-12 article third">
                            <span>
                                Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
                                nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus,
                                sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
                                blandit vel, luctus pulvinar. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                                viverra quis, feugiat a.

                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row bottom-tabs">
                <div class="col-lg-12 botTab">
                    <div class="row">
                        <div class="col-lg-2 titles">
                            <div class="title" data-id="first">
                                <button type="button">Services</button>

                            </div>
                            <div class="title" data-id="sec">
                                <button type="button">Shop</button>
                            </div>
                            <div class="title" data-id="third">
                                <button style="border-bottom: 1px solid rgb(194, 194, 194);"
                                        type="button">
                                    Button
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-10 articles">
                            <div class="article first">
                                <span>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                                    eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                                    fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                                    imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                                    Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
                                    eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                                    enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Class
                                    aptent taciti sociosqu ad litora. Aenean imperdiet. Etiam ultricies nisi vel
                                    augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
                                    rhoncus.Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero
                                    venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus
                                    tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis
                                    magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis
                                    gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus
                                    quam, scelerisque ut, mollis sed, nonummy id, metus.
                                </span>
                            </div>
                            <div class="article sec">
                                <span>
                                    Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit
                                    amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus
                                    pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec
                                    vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci
                                    eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
                                    Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue
                                    velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend
                                    sapien. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero
                                    venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus
                                    tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis
                                    magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis
                                    gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus
                                    quam, scelerisque ut, mollis sed, nonummy id, metus. Vestibulum purus quam,
                                    scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui.
                                    Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis
                                    in. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                                </span>
                            </div>
                            <div class="article third">
                                <span>
                                    ALorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                    parturient montes, nascetur ridiculus mus. Maecenas nec odio et ante tincidunt
                                    tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam
                                    sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit
                                    amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum
                                    sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce
                                    vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed,
                                    nonummy id, metus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                    quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                                    aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                                    venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                                    tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
                                    eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                                    enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus
                                    viverra nulla ut metus varius. Aenean vulputate eleifend tellus. Aenean leo
                                    ligula, porttitor eu, consequat vitae, eleifend ac, enim.

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>

@section Scripts{
    <script src="~/assets/js/tabs.js"></script>
}